<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Control Remoto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container">
            <a class="navbar-brand" href="/">Control Remoto</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-3" sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
                            User
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
                            <li><a class="dropdown-item" href="/">Inicio</a></li>
                        </ul>
                    </li>
                </ul>
                <form sec:authorize="isAuthenticated()" method="post" action="/logout">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
                <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a href="/register" class="btn btn-outline-primary me-2">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="btn btn-primary">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-5">
        <div sec:authorize="isAuthenticated()">
            <h1 class="text-center">Reportes</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Conexión ID</th>
                        <th>Cliente ID</th>
                        <th>Administrador ID</th>
                        <th>Fecha Conexión</th>
                        <th>Fecha Desconexión</th>
                        <th>Duración</th>
                        <th>Cantidad de Clicks</th>
                        <th>Contenido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="reporte : ${reportes}">
                        <td th:text="${reporte.id}">1</td>
                        <td th:text="${reporte.conexion.id}">1</td>
                        <td th:text="${reporte.conexion.clienteId}">1</td>
                        <td th:text="${reporte.conexion.administradorId}">1</td>
                        <td th:text="${reporte.conexion.fechaConexion}">Fecha Conexión</td>
                        <td th:text="${reporte.conexion.fechaDesconexion}">Fecha Desconexión</td>
                        <td th:text="${reporte.conexion.duracion}">Duración</td>
                        <td th:text="${reporte.conexion.cantidadClicks}">Cantidad de Clicks</td>
                        <td th:text="${reporte.contenido}">Contenido</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <h1 class="text-center">Bienvenidos</h1>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
